.checkout-page {
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow:0px 0px 5px 5px rgba(19, 2, 2, 0.123);
}
.checkout-footer {
  position: sticky;
  bottom: 0;
  background-color: rgb(189, 189, 189);
 & h5 {
    text-align: center;
 }
}

