.sign-up-form {
  margin: 0 auto;
  padding: 1rem;
  text-transform: capitalize;
  .sign-up-btn{
  // margin: 2rem 0;
  color: grey;
  border:  1px solid black;
 &:hover{
  color: white;
  background-color: black;
  transition: all 0.5s linear;
 }


}

}

